In [27]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import seaborn as sns
import matplotlib.pyplot as plt
import os

# 종합유원시설업.csv 불러오기

In [28]:
a = pd.read_csv("data/fulldata_03_07_12_P_종합유원시설업.csv", encoding="cp949")
a.head(1)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
0,1,종합유원시설업,03_07_12_P,3480000,CDFI5271002005000001,2005-07-22,NaN,2,휴업,2,...,N,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN

# 필요한 컬럼만 갖고오기

- 영업상태명, 상세영업상태코드, 상세영업상태명, 소재지전화, 소재지전체주소, 도로명전체주소, 사업장명

In [29]:
a[["영업상태명", "상세영업상태코드", "상세영업상태명", "소재지전화", "소재지전체주소", "도로명전체주소", "사업장명"]]

,영업상태명,상세영업상태코드,상세영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명
0,휴업,2,휴업,053-608-5000,대구광역시 달성군 가창면 냉천리 27-9,대구광역시 달성군 가창면 가창로 891,주식회사 스파밸리
1,휴업,2,휴업,054-630-5500,경상북도 영주시 아지동 산 6번지,경상북도 영주시 회헌로 434 (아지동),판타시온 리조트
2,휴업,2,휴업,031-894-0357,경기도 의정부시 장암동 135 아일랜드캐슬 A동,"경기도 의정부시 장곡로 22, 아일랜드캐슬 A동 (장암동)",아일랜드캐슬
3,휴업,2,휴업,033-330-6000,강원특별자치도 평창군 봉평면 면온리 1095-1 (주)휘닉스평창,강원특별자치도 평창군 봉평면 태기로 174 (주)휘닉스평창,휘닉스 블루캐니언
4,휴업,2,휴업,379-7125,경상남도 양산시 하북면 순지리 470,경상남도 양산시 하북면 통도7길 68,(주)동일리조트 통도환타지아
...,...,...,...,...,...,...,...
73,취소/말소/만료/정지/중지,30,허가취소,041)939-9000,충청남도 보령시 신흑동 1945번지,충청남도 보령시 대해로 876 (신흑동),레그랜드펀비치 호텔앤워터파크
74,취소/말소/만료/정지/중지,30,허가취소,055-223-9561~5,경상남도 창원시 마산합포구 월영동 625,NaN,주식회사 가고파랜드
75,취소/말소/만료/정지/중지,30,허가취소,NaN,부산광역시 영도구 동삼동 1125번지,부산광역시 영도구 해양로 435-1 (동삼동),월드카니발 부산
76,취소/말소/만료/정지/중지,30,허가취소,02-454-4442,서울특별시 광진구 능동 18-0,서울특별시 광진구 능동로 216 (능동),어린이대공원놀이동산(주)
77,취소/말소/만료/정지/중지,30,허가취소,223-5118,충청북도 청주시 상당구 명암동 47-8번지,충청북도 청주시 상당구 명암로216번길 47 (명암동),(주)청주드림랜드

# 영업중인 사업장만 갖고오기

In [30]:
b = a[a["영업상태명"] == "영업/정상"]
b

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
27,28,종합유원시설업,03_07_12_P,3470000,CDFI5271001995000001,1995-03-02,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,37386.0,NaN
28,29,종합유원시설업,03_07_12_P,3330000,CDFI5271002023000001,2023-06-30,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,13480.0,NaN
29,30,종합유원시설업,03_07_12_P,5080000,CDFI5271001993000001,1993-05-13,NaN,1,영업/정상,13,...,NaN,Y,NaN,NaN,0.0,NaN,NaN,NaN,10654.0,NaN
30,31,종합유원시설업,03_07_12_P,4490000,CDFI5271001997000001,1997-12-10,NaN,1,영업/정상,13,...,N,N,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
31,32,종합유원시설업,03_07_12_P,4490000,CDFI5271002010000001,2010-06-26,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
32,33,종합유원시설업,03_07_12_P,4520000,CDFI5271002008000002,2008-07-21,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,16831.0,NaN
33,34,종합유원시설업,03_07_12_P,4510000,CDFI5271002013000001,2013-07-15,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,종합유원시설업,03_07_12_P,4050000,CDFI5271001976000001,1976-04-17,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,6211.0,NaN
35,36,종합유원시설업,03_07_12_P,4050000,CDFI5271001996000001,1996-07-11,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,9556.0,NaN
36,37,종합유원시설업,03_07_12_P,4050000,CDFI5271001997000001,1997-05-01,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,9586.0,NaN
37,38,종합유원시설업,03_07_12_P,6510000,CDFI5271002019000001,2019-04-01,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
38,39,종합유원시설업,03_07_12_P,5050000,CDFI5271002003000001,2003-03-03,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
39,40,종합유원시설업,03_07_12_P,5050000,CDFI5271002011000001,2011-06-17,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
40,41,종합유원시설업,03_07_12_P,4040000,CDFI5271002016000001,2016-09-07,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,12938.0,NaN
41,42,종합유원시설업,03_07_12_P,4060000,CDFI5271002003000001,2003-04-24,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
42,43,종합유원시설업,03_07_12_P,5700000,CDFI5271002013000001,2013-07-12,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,11495.0,NaN
43,44,종합유원시설업,03_07_12_P,4810000,CDFI5271002019000004,2019-07-05,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,144789.0,NaN
44,45,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000004,2020-07-23,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
45,46,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000006,2020-07-25,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
46,47,종합유원시설업,03_07_12_P,4181000,CDFI5271001985000001,1985-05-02,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,11446.0,NaN
47,48,종합유원시설업,03_07_12_P,4181000,CDFI5271002022000001,2022-03-31,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,28231.0,NaN
48,49,종합유원시설업,03_07_12_P,4281000,CDFI5271002008000002,2008-07-03,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,16000.0,NaN
49,50,종합유원시설업,03_07_12_P,4281000,CDFI5271002010000001,2010-07-20,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
50,51,종합유원시설업,03_07_12_P,4241000,CDFI5271002014000001,2014-09-26,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,719149.0,NaN
51,52,종합유원시설업,03_07_12_P,4291000,CDFI5271002018000001,2018-06-29,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,27238.0,NaN
52,53,종합유원시설업,03_07_12_P,6520000,CDFI5271002017000002,2017-08-25,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
53,54,종합유원시설업,03_07_12_P,6520000,CDFI5271002018000003,2018-07-19,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
54,55,종합유원시설업,03_07_12_P,3400000,CDFI5271002022000001,2022-03-15,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
55,56,종합유원시설업,03_07_12_P,4251000,CDFI5271002014000001,2014-12-23,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,7831.0,NaN
56,57,종합유원시설업,03_07_12_P,4231000,CDFI5271001984000001,1984-05-04,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,23838.0,NaN
57,58,종합유원시설업,03_07_12_P,4231000,CDFI5271002017000002,2017-12-29,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
58,59,종합유원시설업,03_07_12_P,4810000,CDFI5271002006000001,2006-06-23,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
59,60,종합유원시설업,03_07_12_P,4830000,CDFI5271002007000001,2007-06-13,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16819.0,NaN
60,61,종합유원시설업,03_07_12_P,4900000,CDFI5271002018000001,2018-03-27,NaN,1,영업/정상,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,62,종합유원시설업,03_07_12_P,3650000,CDFI5271002002000001,2002-05-02,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
62,63,종합유원시설업,03_07_12_P,5670000,CDFI5271002024000001,2024-02-22,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
63,64,종합유원시설업,03_07_12_P,5350000,CDFI5271001991000001,1991-10-05,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,3131.0,NaN
64,65,종합유원시설업,03_07_12_P,5370000,CDFI5271002013000001,2013-06-12,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,14526.0,NaN
65,66,종합유원시설업,03_07_12_P,4810000,CDFI5271002008000002,2008-07-23,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,28567.0,NaN
66,67,종합유원시설업,03_07_12_P,3970000,CDFI5271002003000001,2003-04-09,NaN,1,영업/정상,13,...,N,N,NaN,NaN,0.0,NaN,NaN,NaN,234709.0,NaN
67,68,종합유원시설업,03_07_12_P,3040000,CDFI5271002021000001,2021-03-26,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,1561.0,NaN
68,69,종합유원시설업,03_07_12_P,3860000,CDFI5271002008000001,2008-08-08,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,13246.0,NaN
69,70,종합유원시설업,03_07_12_P,3620000,CDFI5271002003000001,2003-03-21,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
70,71,종합유원시설업,03_07_12_P,3230000,CDFI5271001999000001,1989-07-08,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
71,72,종합유원시설업,03_07_12_P,3230000,CDFI5271002017000001,2017-03-29,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
72,73,종합유원시설업,03_07_12_P,3940000,CDFI5271002013000001,2013-05-03,NaN,1,영업/정상,13,...,Y,Y,NaN,NaN,0.0,NaN,NaN,NaN,29679.0,NaN

In [31]:
b.fillna('')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
27,28,종합유원시설업,03_07_12_P,3470000,CDFI5271001995000001,1995-03-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,37386.0,
28,29,종합유원시설업,03_07_12_P,3330000,CDFI5271002023000001,2023-06-30,,1,영업/정상,13,...,Y,Y,,,0.0,,,,13480.0,
29,30,종합유원시설업,03_07_12_P,5080000,CDFI5271001993000001,1993-05-13,,1,영업/정상,13,...,,Y,,,0.0,,,,10654.0,
30,31,종합유원시설업,03_07_12_P,4490000,CDFI5271001997000001,1997-12-10,,1,영업/정상,13,...,N,N,,,0.0,,,,0.0,
31,32,종합유원시설업,03_07_12_P,4490000,CDFI5271002010000001,2010-06-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
32,33,종합유원시설업,03_07_12_P,4520000,CDFI5271002008000002,2008-07-21,,1,영업/정상,13,...,Y,Y,,,,,,,16831.0,
33,34,종합유원시설업,03_07_12_P,4510000,CDFI5271002013000001,2013-07-15,,1,영업/정상,13,...,Y,Y,,,,,,,,
34,35,종합유원시설업,03_07_12_P,4050000,CDFI5271001976000001,1976-04-17,,1,영업/정상,13,...,Y,Y,,,0.0,,,,6211.0,
35,36,종합유원시설업,03_07_12_P,4050000,CDFI5271001996000001,1996-07-11,,1,영업/정상,13,...,Y,Y,,,0.0,,,,9556.0,
36,37,종합유원시설업,03_07_12_P,4050000,CDFI5271001997000001,1997-05-01,,1,영업/정상,13,...,Y,Y,,,0.0,,,,9586.0,
37,38,종합유원시설업,03_07_12_P,6510000,CDFI5271002019000001,2019-04-01,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
38,39,종합유원시설업,03_07_12_P,5050000,CDFI5271002003000001,2003-03-03,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
39,40,종합유원시설업,03_07_12_P,5050000,CDFI5271002011000001,2011-06-17,,1,영업/정상,13,...,,,,,0.0,,,,0.0,
40,41,종합유원시설업,03_07_12_P,4040000,CDFI5271002016000001,2016-09-07,,1,영업/정상,13,...,Y,Y,,,0.0,,,,12938.0,
41,42,종합유원시설업,03_07_12_P,4060000,CDFI5271002003000001,2003-04-24,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
42,43,종합유원시설업,03_07_12_P,5700000,CDFI5271002013000001,2013-07-12,,1,영업/정상,13,...,Y,Y,,,0.0,,,,11495.0,
43,44,종합유원시설업,03_07_12_P,4810000,CDFI5271002019000004,2019-07-05,,1,영업/정상,13,...,Y,Y,,,0.0,,,,144789.0,
44,45,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000004,2020-07-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
45,46,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000006,2020-07-25,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
46,47,종합유원시설업,03_07_12_P,4181000,CDFI5271001985000001,1985-05-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,11446.0,
47,48,종합유원시설업,03_07_12_P,4181000,CDFI5271002022000001,2022-03-31,,1,영업/정상,13,...,Y,Y,,,0.0,,,,28231.0,
48,49,종합유원시설업,03_07_12_P,4281000,CDFI5271002008000002,2008-07-03,,1,영업/정상,13,...,,,,,0.0,,,,16000.0,
49,50,종합유원시설업,03_07_12_P,4281000,CDFI5271002010000001,2010-07-20,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
50,51,종합유원시설업,03_07_12_P,4241000,CDFI5271002014000001,2014-09-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,719149.0,
51,52,종합유원시설업,03_07_12_P,4291000,CDFI5271002018000001,2018-06-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,27238.0,
52,53,종합유원시설업,03_07_12_P,6520000,CDFI5271002017000002,2017-08-25,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
53,54,종합유원시설업,03_07_12_P,6520000,CDFI5271002018000003,2018-07-19,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
54,55,종합유원시설업,03_07_12_P,3400000,CDFI5271002022000001,2022-03-15,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
55,56,종합유원시설업,03_07_12_P,4251000,CDFI5271002014000001,2014-12-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,7831.0,
56,57,종합유원시설업,03_07_12_P,4231000,CDFI5271001984000001,1984-05-04,,1,영업/정상,13,...,Y,Y,,,0.0,,,,23838.0,
57,58,종합유원시설업,03_07_12_P,4231000,CDFI5271002017000002,2017-12-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
58,59,종합유원시설업,03_07_12_P,4810000,CDFI5271002006000001,2006-06-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
59,60,종합유원시설업,03_07_12_P,4830000,CDFI5271002007000001,2007-06-13,,1,영업/정상,13,...,,,,,,,,,16819.0,
60,61,종합유원시설업,03_07_12_P,4900000,CDFI5271002018000001,2018-03-27,,1,영업/정상,13,...,,,,,,,,,,
61,62,종합유원시설업,03_07_12_P,3650000,CDFI5271002002000001,2002-05-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
62,63,종합유원시설업,03_07_12_P,5670000,CDFI5271002024000001,2024-02-22,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
63,64,종합유원시설업,03_07_12_P,5350000,CDFI5271001991000001,1991-10-05,,1,영업/정상,13,...,Y,Y,,,0.0,,,,3131.0,
64,65,종합유원시설업,03_07_12_P,5370000,CDFI5271002013000001,2013-06-12,,1,영업/정상,13,...,Y,Y,,,,,,,14526.0,
65,66,종합유원시설업,03_07_12_P,4810000,CDFI5271002008000002,2008-07-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,28567.0,
66,67,종합유원시설업,03_07_12_P,3970000,CDFI5271002003000001,2003-04-09,,1,영업/정상,13,...,N,N,,,0.0,,,,234709.0,
67,68,종합유원시설업,03_07_12_P,3040000,CDFI5271002021000001,2021-03-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,1561.0,
68,69,종합유원시설업,03_07_12_P,3860000,CDFI5271002008000001,2008-08-08,,1,영업/정상,13,...,Y,Y,,,0.0,,,,13246.0,
69,70,종합유원시설업,03_07_12_P,3620000,CDFI5271002003000001,2003-03-21,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
70,71,종합유원시설업,03_07_12_P,3230000,CDFI5271001999000001,1989-07-08,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
71,72,종합유원시설업,03_07_12_P,3230000,CDFI5271002017000001,2017-03-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
72,73,종합유원시설업,03_07_12_P,3940000,CDFI5271002013000001,2013-05-03,,1,영업/정상,13,...,Y,Y,,,0.0,,,,29679.0,

# nan값을 공백으로 바꾸기

In [32]:
b.fillna('')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,의무실유무,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63
27,28,종합유원시설업,03_07_12_P,3470000,CDFI5271001995000001,1995-03-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,37386.0,
28,29,종합유원시설업,03_07_12_P,3330000,CDFI5271002023000001,2023-06-30,,1,영업/정상,13,...,Y,Y,,,0.0,,,,13480.0,
29,30,종합유원시설업,03_07_12_P,5080000,CDFI5271001993000001,1993-05-13,,1,영업/정상,13,...,,Y,,,0.0,,,,10654.0,
30,31,종합유원시설업,03_07_12_P,4490000,CDFI5271001997000001,1997-12-10,,1,영업/정상,13,...,N,N,,,0.0,,,,0.0,
31,32,종합유원시설업,03_07_12_P,4490000,CDFI5271002010000001,2010-06-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
32,33,종합유원시설업,03_07_12_P,4520000,CDFI5271002008000002,2008-07-21,,1,영업/정상,13,...,Y,Y,,,,,,,16831.0,
33,34,종합유원시설업,03_07_12_P,4510000,CDFI5271002013000001,2013-07-15,,1,영업/정상,13,...,Y,Y,,,,,,,,
34,35,종합유원시설업,03_07_12_P,4050000,CDFI5271001976000001,1976-04-17,,1,영업/정상,13,...,Y,Y,,,0.0,,,,6211.0,
35,36,종합유원시설업,03_07_12_P,4050000,CDFI5271001996000001,1996-07-11,,1,영업/정상,13,...,Y,Y,,,0.0,,,,9556.0,
36,37,종합유원시설업,03_07_12_P,4050000,CDFI5271001997000001,1997-05-01,,1,영업/정상,13,...,Y,Y,,,0.0,,,,9586.0,
37,38,종합유원시설업,03_07_12_P,6510000,CDFI5271002019000001,2019-04-01,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
38,39,종합유원시설업,03_07_12_P,5050000,CDFI5271002003000001,2003-03-03,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
39,40,종합유원시설업,03_07_12_P,5050000,CDFI5271002011000001,2011-06-17,,1,영업/정상,13,...,,,,,0.0,,,,0.0,
40,41,종합유원시설업,03_07_12_P,4040000,CDFI5271002016000001,2016-09-07,,1,영업/정상,13,...,Y,Y,,,0.0,,,,12938.0,
41,42,종합유원시설업,03_07_12_P,4060000,CDFI5271002003000001,2003-04-24,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
42,43,종합유원시설업,03_07_12_P,5700000,CDFI5271002013000001,2013-07-12,,1,영업/정상,13,...,Y,Y,,,0.0,,,,11495.0,
43,44,종합유원시설업,03_07_12_P,4810000,CDFI5271002019000004,2019-07-05,,1,영업/정상,13,...,Y,Y,,,0.0,,,,144789.0,
44,45,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000004,2020-07-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
45,46,종합유원시설업,03_07_12_P,4261000,CDFI5271002020000006,2020-07-25,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
46,47,종합유원시설업,03_07_12_P,4181000,CDFI5271001985000001,1985-05-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,11446.0,
47,48,종합유원시설업,03_07_12_P,4181000,CDFI5271002022000001,2022-03-31,,1,영업/정상,13,...,Y,Y,,,0.0,,,,28231.0,
48,49,종합유원시설업,03_07_12_P,4281000,CDFI5271002008000002,2008-07-03,,1,영업/정상,13,...,,,,,0.0,,,,16000.0,
49,50,종합유원시설업,03_07_12_P,4281000,CDFI5271002010000001,2010-07-20,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
50,51,종합유원시설업,03_07_12_P,4241000,CDFI5271002014000001,2014-09-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,719149.0,
51,52,종합유원시설업,03_07_12_P,4291000,CDFI5271002018000001,2018-06-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,27238.0,
52,53,종합유원시설업,03_07_12_P,6520000,CDFI5271002017000002,2017-08-25,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
53,54,종합유원시설업,03_07_12_P,6520000,CDFI5271002018000003,2018-07-19,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
54,55,종합유원시설업,03_07_12_P,3400000,CDFI5271002022000001,2022-03-15,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
55,56,종합유원시설업,03_07_12_P,4251000,CDFI5271002014000001,2014-12-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,7831.0,
56,57,종합유원시설업,03_07_12_P,4231000,CDFI5271001984000001,1984-05-04,,1,영업/정상,13,...,Y,Y,,,0.0,,,,23838.0,
57,58,종합유원시설업,03_07_12_P,4231000,CDFI5271002017000002,2017-12-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
58,59,종합유원시설업,03_07_12_P,4810000,CDFI5271002006000001,2006-06-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
59,60,종합유원시설업,03_07_12_P,4830000,CDFI5271002007000001,2007-06-13,,1,영업/정상,13,...,,,,,,,,,16819.0,
60,61,종합유원시설업,03_07_12_P,4900000,CDFI5271002018000001,2018-03-27,,1,영업/정상,13,...,,,,,,,,,,
61,62,종합유원시설업,03_07_12_P,3650000,CDFI5271002002000001,2002-05-02,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
62,63,종합유원시설업,03_07_12_P,5670000,CDFI5271002024000001,2024-02-22,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
63,64,종합유원시설업,03_07_12_P,5350000,CDFI5271001991000001,1991-10-05,,1,영업/정상,13,...,Y,Y,,,0.0,,,,3131.0,
64,65,종합유원시설업,03_07_12_P,5370000,CDFI5271002013000001,2013-06-12,,1,영업/정상,13,...,Y,Y,,,,,,,14526.0,
65,66,종합유원시설업,03_07_12_P,4810000,CDFI5271002008000002,2008-07-23,,1,영업/정상,13,...,Y,Y,,,0.0,,,,28567.0,
66,67,종합유원시설업,03_07_12_P,3970000,CDFI5271002003000001,2003-04-09,,1,영업/정상,13,...,N,N,,,0.0,,,,234709.0,
67,68,종합유원시설업,03_07_12_P,3040000,CDFI5271002021000001,2021-03-26,,1,영업/정상,13,...,Y,Y,,,0.0,,,,1561.0,
68,69,종합유원시설업,03_07_12_P,3860000,CDFI5271002008000001,2008-08-08,,1,영업/정상,13,...,Y,Y,,,0.0,,,,13246.0,
69,70,종합유원시설업,03_07_12_P,3620000,CDFI5271002003000001,2003-03-21,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
70,71,종합유원시설업,03_07_12_P,3230000,CDFI5271001999000001,1989-07-08,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
71,72,종합유원시설업,03_07_12_P,3230000,CDFI5271002017000001,2017-03-29,,1,영업/정상,13,...,Y,Y,,,0.0,,,,0.0,
72,73,종합유원시설업,03_07_12_P,3940000,CDFI5271002013000001,2013-05-03,,1,영업/정상,13,...,Y,Y,,,0.0,,,,29679.0,

In [40]:
b.isnull()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63,분류
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,False,True,True,True,False,True,True
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,False,True,True,True,False,True,True
3,False,False,False,False,False,False,True,False,False,False,...,True,True,True,False,True,True,True,False,True,True
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,False,True,True
74,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True
75,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,True,True
76,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,False,True,True
77,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True

# 새로운 "동읍면" 컬럼 생성하기

- 소재지전체주소/도로명전체주소 참고

In [46]:
b

                             도로명전체주소             사업장명    분류
0              대구광역시 달성군 가창면 가창로 891        주식회사 스파밸리  테마파크
1             경상북도 영주시 회헌로 434 (아지동)         판타시온 리조트  테마파크
2   경기도 의정부시 장곡로 22, 아일랜드캐슬 A동 (장암동)           아일랜드캐슬  테마파크
3   강원특별자치도 평창군 봉평면 태기로 174 (주)휘닉스평창        휘닉스 블루캐니언  테마파크
4               경상남도 양산시 하북면 통도7길 68  (주)동일리조트 통도환타지아  테마파크
..                               ...              ...   ...
73           충청남도 보령시 대해로 876  (신흑동)  레그랜드펀비치 호텔앤워터파크  테마파크
74                               NaN       주식회사 가고파랜드  테마파크
75         부산광역시 영도구 해양로 435-1 (동삼동)         월드카니발 부산  테마파크
76            서울특별시 광진구 능동로 216 (능동)    어린이대공원놀이동산(주)  테마파크
77    충청북도 청주시 상당구 명암로216번길 47 (명암동)        (주)청주드림랜드  테마파크

[78 rows x 3 columns]

In [36]:
b= a.drop("분류", axis=1)

C:\Users\CDL\AppData\Local\Temp\ipykernel_5140\738533344.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["분류"] = "테마파크"

In [47]:
b.to_csv("data/pj1_amusementpark_01.csv")

In [48]:
b

                             도로명전체주소             사업장명    분류
0              대구광역시 달성군 가창면 가창로 891        주식회사 스파밸리  테마파크
1             경상북도 영주시 회헌로 434 (아지동)         판타시온 리조트  테마파크
2   경기도 의정부시 장곡로 22, 아일랜드캐슬 A동 (장암동)           아일랜드캐슬  테마파크
3   강원특별자치도 평창군 봉평면 태기로 174 (주)휘닉스평창        휘닉스 블루캐니언  테마파크
4               경상남도 양산시 하북면 통도7길 68  (주)동일리조트 통도환타지아  테마파크
..                               ...              ...   ...
73           충청남도 보령시 대해로 876  (신흑동)  레그랜드펀비치 호텔앤워터파크  테마파크
74                               NaN       주식회사 가고파랜드  테마파크
75         부산광역시 영도구 해양로 435-1 (동삼동)         월드카니발 부산  테마파크
76            서울특별시 광진구 능동로 216 (능동)    어린이대공원놀이동산(주)  테마파크
77    충청북도 청주시 상당구 명암로216번길 47 (명암동)        (주)청주드림랜드  테마파크

[78 rows x 3 columns]

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,안내소유무,기획여행보험시작일자,기획여행보험종료일자,자본금,보험시작일자,보험종료일자,부대시설내역,시설규모,Unnamed: 63,분류
0,1,종합유원시설업,03_07_12_P,3480000,CDFI5271002005000001,2005-07-22,NaN,2,휴업,2,...,Y,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
1,2,종합유원시설업,03_07_12_P,5090000,CDFI5271002008000001,2008-07-18,NaN,2,휴업,2,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,종합유원시설업,03_07_12_P,3820000,CDFI5271002018000001,2018-06-20,NaN,2,휴업,2,...,Y,NaN,NaN,0.0,NaN,NaN,NaN,18934.0,NaN,NaN
3,4,종합유원시설업,03_07_12_P,4281000,CDFI5271002008000001,2008-06-12,NaN,2,휴업,2,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
4,5,종합유원시설업,03_07_12_P,5380000,CDFI5271001993000001,1993-04-30,NaN,2,휴업,2,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,종합유원시설업,03_07_12_P,4510000,CDFI5271002007000001,2007-08-08,2013-05-10,4,취소/말소/만료/정지/중지,30,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,13744.0,NaN,NaN
74,75,종합유원시설업,03_07_12_P,5670000,CDFI5271002002100001,2002-08-29,2013-03-14,4,취소/말소/만료/정지/중지,30,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,76,종합유원시설업,03_07_12_P,3280000,CDFI5271002007000001,2007-07-24,2007-08-20,4,취소/말소/만료/정지/중지,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66116.0,NaN,NaN
76,77,종합유원시설업,03_07_12_P,3040000,CDFI5271001983000001,1983-12-07,2020-12-16,4,취소/말소/만료/정지/중지,30,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,20000.0,NaN,NaN
77,78,종합유원시설업,03_07_12_P,5710000,CDFI5271002001000001,2001-11-03,2013-12-16,4,취소/말소/만료/정지/중지,30,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
for idx, row in a.iterrows():
    if pd.isnull(row["도로명전체주소"]):
        b.at[idx, '도로명전체주소'] = row['소재지전체주소']

c =b[["도로명전체주소", "사업장명","분류"]]

In [53]:
c =pd.read_csv("data/pj1_amusementpark_01.csv")

In [54]:
c.columns

Index(['Unnamed: 0', '도로명전체주소', '사업장명', '분류'], dtype='object')

In [55]:
c.columns =["순서","city","sa","category"]

In [56]:
c

    순서                              city               sa category
0    0             대구광역시 달성군 가창면 가창로 891        주식회사 스파밸리     테마파크
1    1            경상북도 영주시 회헌로 434 (아지동)         판타시온 리조트     테마파크
2    2  경기도 의정부시 장곡로 22, 아일랜드캐슬 A동 (장암동)           아일랜드캐슬     테마파크
3    3  강원특별자치도 평창군 봉평면 태기로 174 (주)휘닉스평창        휘닉스 블루캐니언     테마파크
4    4              경상남도 양산시 하북면 통도7길 68  (주)동일리조트 통도환타지아     테마파크
..  ..                               ...              ...      ...
73  73           충청남도 보령시 대해로 876  (신흑동)  레그랜드펀비치 호텔앤워터파크     테마파크
74  74                               NaN       주식회사 가고파랜드     테마파크
75  75         부산광역시 영도구 해양로 435-1 (동삼동)         월드카니발 부산     테마파크
76  76            서울특별시 광진구 능동로 216 (능동)    어린이대공원놀이동산(주)     테마파크
77  77    충청북도 청주시 상당구 명암로216번길 47 (명암동)        (주)청주드림랜드     테마파크

[78 rows x 4 columns]

In [70]:
import pymysql

In [71]:
conn = pymysql.connect(host="127.0.0.1", user='user', password='user1234', db='dbmaria', charset='utf8')

In [83]:
cur = conn.cursor()
cur
c

    순서                              city               sa category
0    0             대구광역시 달성군 가창면 가창로 891        주식회사 스파밸리     테마파크
1    1            경상북도 영주시 회헌로 434 (아지동)         판타시온 리조트     테마파크
2    2  경기도 의정부시 장곡로 22, 아일랜드캐슬 A동 (장암동)           아일랜드캐슬     테마파크
3    3  강원특별자치도 평창군 봉평면 태기로 174 (주)휘닉스평창        휘닉스 블루캐니언     테마파크
4    4              경상남도 양산시 하북면 통도7길 68  (주)동일리조트 통도환타지아     테마파크
..  ..                               ...              ...      ...
73  73           충청남도 보령시 대해로 876  (신흑동)  레그랜드펀비치 호텔앤워터파크     테마파크
74  74                              None       주식회사 가고파랜드     테마파크
75  75         부산광역시 영도구 해양로 435-1 (동삼동)         월드카니발 부산     테마파크
76  76            서울특별시 광진구 능동로 216 (능동)    어린이대공원놀이동산(주)     테마파크
77  77    충청북도 청주시 상당구 명암로216번길 47 (명암동)        (주)청주드림랜드     테마파크

[78 rows x 4 columns]

In [86]:
for index, row in c.iterrows():
    cur.execute("""
        INSERT INTO project1 (
            city,
            place_name,
            category
        ) VALUES (%s, %s, %s)
        """, (
        row['city'],
        row['sa'],
        row['category']
    ))

In [81]:
c=c.where((pd.notnull(c)), None)

In [88]:
import requests
from bs4 import BeautifulSoup
import re
from konlpy.tag import Okt
from collections import Counter
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import time

In [94]:
keywordList = c["sa"]
keywordList

0           주식회사 스파밸리
1            판타시온 리조트
2              아일랜드캐슬
3           휘닉스 블루캐니언
4     (주)동일리조트 통도환타지아
           ...
73    레그랜드펀비치 호텔앤워터파크
74         주식회사 가고파랜드
75           월드카니발 부산
76      어린이대공원놀이동산(주)
77          (주)청주드림랜드
Name: sa, Length: 78, dtype: object

In [ ]:
for keyword in keywordList:

In [ ]:
titleList = []
lastpage = int(input("마지막 페이지 번호를 입력하세요."))


for i in range(1,lastpage+1,1) :
    for keyword in keywordList:
        #url = f"https://search.naver.com/search.naver?where=news&sm=tab_jum&query={keyword}&start=[{i}]"
        url = f"https://search.daum.net/search?w=news&nil_search=btn&DA=PGD&enc=utf8&cluster=y&cluster_page=1&q={keyword}&p={i}"
        print(url)
        response = requests.get(url)
        html = response.text
        soup = BeautifulSoup(html, 'html.parser')
        titles = soup.select("ul.c-list-basic")
        #subtitles = soup.select("a.elss.sub_tit")
        for title in titles : # titles에서 title
            titleText = title.text # title.text만 추출
            #print(titleText)
            titleList.append(titleText) # titleList에 추가
    
time.sleep(5)